body{
  background-image:
    url(../media/photos_2016_3_8_fst_82436195be9-95ee-459d-8f7d-65b84e7b4a84.jpg);
    /* photo from https://freestocktextures.com/photos-wood/ */
  background-size: 100%;
  padding: 0 0px 30px;
  line-height: 140%;
  font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
.primary-column{
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  padding: 0px 45px 5px;
}
.topmost-row{
  padding-top: 40px;
}
a{
  color: black;
}
a:link{
  color: inherit;
}
.bottom-divider,
.copyright-nav,
.copyright-nav a{
  color: #c0c0c0;
}
a:hover{
  color: rgba(146, 53, 48, 0.99);
  text-decoration: none;
}
ul{
  list-style: none;
    padding: 20px 10px 6px;
}
.nav{
 border-top: solid black 1px;
}
.top-nav{
  border-bottom: solid black 1px;
  margin: 20px 0px;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0px 1rem;
}
.top-nav .nav-link{
padding: 0px 1.8rem;
border-left: solid 1px darkgrey;
margin: 5px;

}

 .top-nav .nav-link:first-of-type{
  border-left: none;
}

img{
  border: solid 1px black;
  padding: 10px;
  outline: 1px solid grey;
  outline-offset: -8px;
  width: 100%;
  height: 118px;
  margin-bottom: 20px;
}
.bg-img{
  height: 350px;
  width: 98%;
}
aside{
    height: 100%;
}
aside ul{
  background-color: rgba(146, 53, 48, 0.99);
  color: white;
  font-size: 11px;
}
aside a{
  color: inherit;
  font-size: 12px;
}
aside img{
  border: solid 1px black;
  outline: none;
  width: 156px;
  height: 94px;
  padding: 0px;
}
aside ul li{
  padding-top: 10px;
}
aside ul li:first-of-type{
  padding-top: 0px;
}
aside ul li ul{
  padding: 0px;
}
aside ul li ul li{
  padding-left: 9px;
  padding-top: 0px;
}
aside ul li ul li:first-of-type{
  padding-left: 0px;
}


aside a:hover{
  font-weight: bolder;
  color: inherit;
}
aside::first-line{
  font-size: 11px;
  padding-top: 0px;
  font-weight: bold;
  padding-bottom: 0px;
  text-transform: uppercase;
}

aside hr{
  border-bottom: 1px solid white;
  margin: .5rem 0rem;
}
hr{
  margin: 10px;

}
.grey-aside{
  background-color: grey;
  border-right: solid 15px #f8f9fa;
}
.grey-aside img{
  border: solid black 1px;
  /* width: 198px; */
  margin: 10px;
}
#news-feed{
  height: 350px;
  overflow: hidden;
  margin-left: 0px;
}

.index-content{
  margin: 12px 0px;
  padding-top: 20px;
}
.index-content::first-line{
  font-weight: bolder;
}
.contact-info{
  font-size: 10px;
  padding-top: 20px;
  padding-left: 25px;
  line-height: 110%;


}
#news p::first-line{
  font-weight: bold;
}
#location-header{
  border-bottom: solid 1px black;
  font-weight: bold;
}

.contact-info ul li:first-child{
  font-weight: bolder;
}
.contact-info a{
  color: rgba(146, 53, 48, 0.99);
}
.contact-info ul{
 padding: 0px;
 margin: 0px;
}
.contact-info li{
  padding: 0px;
  margin: 0px;
}
.bottom-nav{
  font-size: 10px;
  text-transform: uppercase;

}
.bottom-nav .nav-link{
padding:0px .5rem;
}
.copyright-nav{
  margin: 10px 0px;
}
