{%extends 'bootstrap/base.html' %}

{%block title%}
{{title}}
{%endblock%}

{%block styles%}
  {{ super() }}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- grabs all the block stylings from bootstrap (it's a jinja thing) -->
  <link rel="stylesheet" href="../static/css/main.css">
{%endblock%}


{%block navbar%}
<div class="container">
  <div class="col-md-12 bg-light primary-column">



    <div class="row topmost-row">
      <!-- column to contain brand info -->
      <div class="col-md-5 offset-md-1">
        <h2>
          <a href="{{url_for('index')}}">Homer, Hammer, &amp; Hall</a>
        </h2>
      </div>
<!-- login menu -->

      <div class="nav login col-md-2 offset-md-3">
      {% if current_user.is_anonymous %}
        <a class="nav-link" href="{{url_for('login')}}" >Login</a>
        <a class="nav-link" href="{{url_for('register')}}" >Register</a>
      {% else %}
        <a class="nav-link" href="{{url_for('profile')}}" >Profile</a>
        <a class="nav-link" href="{{url_for('logout')}}" >Logout</a>
      {% endif %}
      </div>
<!-- end login menu -->

      <!-- end column to contain brand info -->
    </div>
    <nav class="nav justify-content-center top-nav">
      <!-- Links -->
      <a class="nav-link" href="{{url_for('who')}}">
            Who We Are
          </a>
      <a class="nav-link" href="{{url_for('what')}}">
            What We Do
          </a>
      <a class="nav-link" href="{{url_for('news')}}">
            News &amp; Events
          </a>
      <a class="nav-link" href="{{url_for('where')}}">
            Where We Work
          </a>
      <a class="nav-link" href="{{url_for('contact')}}">
            Contact Us
          </a>
    </nav>

{%endblock%}

{%block content%}

  {%block app_content%}


  {%endblock%}

  <footer>
    <!-- row with small info links (actually same as top nav - just smaller) -->
    <div class="row">
      <div class="col-md-12">
        <nav class="nav justify-content-center bottom-nav">

          <!-- Links -->
          <a class="nav-link" href="{{url_for('index')}}">
                  Home
                </a>
          <span class="bottom-divider">&mdash;</span>
          <a class="nav-link" href="{{url_for('who')}}">
                  Who We Are
                </a>
          <span class="bottom-divider">&mdash;</span>
          <a class="nav-link" href="{{url_for('what')}}">
                  What We Do
                </a>
          <span class="bottom-divider">&mdash;</span>
          <a class="nav-link" href="{{url_for('news')}}">
                  News &amp; Events
                </a>
          <span class="bottom-divider">&mdash;</span>
          <a class="nav-link" href="{{url_for('where')}}">
                  Where We Work
                </a>
          <span class="bottom-divider">&mdash;</span>
          <a class="nav-link" href="{{url_for('contact')}}">
                  Contact Us
                </a>

        </nav>
      </div>
      <!-- end col 12 for nav -->
    </div>
    <!-- end row with small info links -->
    <!-- row with copyright info -->
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar justify-content-center copyright-nav">
          <a href="html/legal.html">
            &copy; Daniel Homer 2018
          </a> &nbsp; // &nbsp;
          <a href="http://www.onetencreative.com/">
            Original Website Design by OneTen Creative
          </a>
          </span>
      </div>
    </div>
    <!-- end row with copyright info -->
  </footer>
</div>
<!-- end primary column -->
</div>
<!-- end container -->
{%endblock%}
