{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block title%}
{{ title}}
{%endblock%}


{%block app_content%}
<main class="row">

  <!-- content goes here -->
  <aside class="col-md-3">
    <ul>
      <li>
        <a href="#">Contact Us</a>
      </li>
      <hr>
      <li>
        <a href="#">Directions / Parking</a>
      </li>
      <li>
        <a href="#">Career Opportunities</a>
      </li>
      <li>
        <img src="https://place-hold.it/156x94" class="img-fluid" alt="Blank Image">
      </li>
    </ul>
  </aside>
  <article class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <img src="../media/architecture-buildings-business-331990.jpg" alt="We're Open Sign">
        <!-- thanks to https://www.pexels.com/photo/architecture-buildings-business-car-331990/ -->
      </div>
    </div>
    <div class="row">
      <p class="col-md-12">
        Office Hours are 9am-5pm Monday - Friday
      </p>
    </div>
    <div class="row">
      <p class="col-md-12">
        1234 Central Street <br> Suite 5678 <br> Chicago, Illinois 12345 <br>
      </p>
    </div>
    <div class="row">
      <p class="col-md-12">
        Phone: 123-456-7890 <br> Fax: 098-765-4321
      </p>
    </div>
    <div class="row">
      <p class="col-md-12">
        Contact Jane Doe at HomerHammerHall@gmail.com
      </p>
    </div>

  </article>
  <aside class="col-md-3 grey-aside">
    <div class="row">
      <div class="col-md-12"> <img src="https://place-hold.it/198x94" class="img-fluid" alt="Blank Image"></div>
    </div>
    <div class="row">
      <div class="col-md-12"> <img src="https://place-hold.it/198x94" class="img-fluid" alt="Blank Image"></div>
    </div>
  </aside>
</main>

{%endblock%}
