{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block title%}
{{ title}}
{%endblock%}


{%block app_content%}

<main class="row">

  <!-- content goes here -->
  <aside class="col-md-3">
    <ul>
      <li>
        <a href="#">News and Events</a>
      </li>
      <hr>
      <li>
        <a href="#">Current</a>
      </li>
      <li>
        <a href="#">Archive</a>
      </li>
      <li>
        <img src="https://place-hold.it/156x94" class="img-fluid" alt="Blank Image">
      </li>
    </ul>
  </aside>
  <article class="col-md-5" id="news">
    <img src="../static/media/architecture-buildings-business-331990.jpg" alt="We're Open Sign">
    <!-- thanks to https://www.pexels.com/photo/architecture-buildings-business-car-331990/ -->
    <div class="row">
      <p class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="row">
      <p class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="row">
      <p class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="row">
      <p class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="row">
      <p class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
  </article>

</main>
{%endblock%}
