{%extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{%block title%}
{{ title}}
{%endblock%}


{%block app_content%}
<main class="row">

  <!-- content goes here -->
  <aside class="col-md-3">
    <ul>
      <li>
        <a href="#">Where we work</a>
      </li>
      <hr>
      <li>
        United States
      </li>
      <li>
        <img src="https://place-hold.it/156x94" class="img-fluid" alt="Blank Image">
      </li>
    </ul>
  </aside>
  <article class="col-md-9">

    <div class="row">
      <p class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="location-header"> United States</div>
      </div>
    </div>
    <div class="row locations">
      <div class="col-md-4">
        <ul>
          <li>Alabama</li>
          <li>Alaska</li>
          <li>Arizona</li>
          <li>Arkansas</li>
          <li> California</li>
          <li> Colorado</li>
          <li> Connecticut</li>
          <li> Delaware</li>
          <li> Florida</li>
          <li> Georgia</li>
          <li> Hawaii</li>
          <li> Idaho</li>
          <li> Illinois</li>
          <li> Indiana</li>
          <li> Iowa</li>
          <li> Kansas</li>
          <li> Kentucky</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li> Louisiana</li>
          <li> Maine</li>
          <li> Maryland</li>
          <li> Massachusetts</li>
          <li> Michigan</li>
          <li>Minnesota</li>
          <li>Mississippi</li>
          <li>Missouri</li>
          <li>Montana</li>
          <li>Nebraska</li>
          <li>Nevada</li>
          <li>New Hampshire</li>
          <li>New Jersey</li>
          <li>New Mexico</li>
          <li>New York</li>
          <li>North Carolina</li>
          <li>North Dakota</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>


          <li>Ohio</li>
          <li>Oklahoma</li>
          <li> Oregon</li>
          <li> Pennsylvania</li>
          <li> Rhode Island</li>
          <li> South Carolina</li>
          <li> South Dakota</li>
          <li> Tennessee</li>
          <li> Texas</li>
          <li> Utah</li>
          <li> Vermont</li>
          <li> Virginia</li>
          <li> Washington</li>
          <li> West Virginia</li>
          <li> Wisconsin</li>
          <li> Wyoming</li>
        </ul>
      </div>
    </div>

  </article>

</main>

{%endblock%}
